body {
    display: flex;
    text-align: center;
    justify-content: center;
}
h1 {
    font-size: 40px;
    font-weight: lighter;
}
.form.name {
    font-size: 20px;
}
input {
    font-size: 20px;
    display:flex;
    margin: 50px auto;
    width: 400px;
    height: 30px;

}
input::placeholder {
    font-size: 15px;
    padding-left: 10px;
    color: #111111;
}
button {
    outline: none;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto 35px;
    border-radius: 15px;
}
.btn-login {
    background: #00FFFF;
}
.btn-regist {
    background: #fc7e2a;
}
.btn-back { 
    background: #00FFFF;
    padding-left: 34px;
    padding-right: 34px;
}